:root{
    --color-primary: #980303;
    --color-secondary: #021283;
    --color-third: #BD169C;
    --color-fourd: #FACDF0;
    --color-fifth: #d9d9d9;
    --color-light: #FFFFFF;
    --color-dark: #000000;
}
body {
    overflow-x: hidden;
}

/* Sidebar */
#sidebar {
    width: 250px;
    height: 100vh;
    background: ;
    color: var(--color-primary);
    background-color: var(--color-fifth);
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: 1000;
}

#sidebar.active {
    left: -250px;
}

.sidebar-header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--color-secondary);
}

.logo {
    width: 60px;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 15px 20px;
}

.menu li a {
    color: var(--color-dark);
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.menu li a:hover {
    background: rgba(255, 186, 186, 0.8);
    border-radius: 5px;
}

.logout {
    margin-top: 50px;
}

/* Contenido */
#content {
    margin-left: 250px;
    padding: 20px;
    transition: 0.3s;
}

/* Botón menú móvil */
.btn-menu {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2000;
    background: #0d6efd;
    color: white;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    #sidebar {
        left: -250px;
    }

    #sidebar.active {
        left: 0;
    }

    #content {
        margin-left: 0;
    }

    .btn-menu {
        display: block;
    }
}
