:root{
    --color-primary: #980303;
    --color-secondary: #021283;
    --color-third: #BD169C;
    --color-fourd: #FACDF0;
    --color-fifth: #d9d9d9;
    --color-light: #FFFFFF;
    --color-dark: #000000;
}

.bienvenido{
    background-color: var(--color-fourd);
    padding: 20px;
    border-radius: 8px;
    width: 95%;
}
.bienvenido h2{
    color: var(--color-primary);
}
.bienvenido p strong{
    color: var(--color-secondary);
}
.bienvenido a{
    background-color: var(--color-third);
    color: var(--color-fourd);
    padding: 8px 13px;
    border: 2px solid var(--color-third);
    cursor: pointer;
}
.sn{
    width: 95%;
}
.sn h2{
    color: var(--color-secondary);
    background-color: var(--color-fourd);
    text-align: center;
}

.up{
    width: 95%;
}
.up h2{
    color: var(--color-secondary);
    background-color: var(--color-fourd);
    text-align: center;
}

.btns_home{
    background-color: var(--color-third);
    color: var(--color-fourd);
    padding: 8px 13px;
    border: 2px solid var(--color-third);
    cursor: pointer;
}

.btns_home:hover{
    background-color: transparent;
    color: var(--color-third);
    border: 2px solid var(--color-third);
}

.btn_product{
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 8px 13px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}
.btn_product:hover{
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}